<launch>

  <!-- Start the turtlebot -->

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

    <!-- Launch the 3D sensor -->
    <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
      <arg name="rgb_processing" value="false" />
      <arg name="depth_registration" value="false" />
      <arg name="depth_processing" value="false" />

      <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
           Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
      <arg name="scan_topic" value="/base_scan" />
    </include>

    <!-- Move base and gmapping (standard configuration from turtlebot_navigation) -->
    <include file="$(find rrt_exploration_tutorials)/launch/includes/move_baseSafe_simple.launch">

    </include>

  <!-- RRT Exploration -->
  <include file="$(find rrt_exploration)/launch/simple.launch" />

</launch>
